/* Button */

.primary-button{
    padding: 0.5rem 2rem;
    width: 220px;
    border: none;
  
    background-color: var(--primary);
    color:var(--secondary);
  
    font-size: 1rem;
  
    border-radius: 5px;
}
@media screen and (max-width: 800px){
  .primary-button{
    padding: 0.5rem;
  }
}

.primary-button:hover{
  cursor: pointer;
  background-color: var(--primary-2);
}
.primary-button:disabled{
  background-color: var(--primary-disabled);
}

.secondary-button{
  padding: 0.25rem 1.5rem;

  border: 1px solid var(--primary);

  background-color: var(--secondary);
  color:var(--primary);

  font-size: 1rem;

  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px){
  .secondary-button{
    padding: 0.5rem;
  }
}

.secondary-button:hover{
  background-color: var(--primary-2);
  color: var(--secondary);
  cursor: pointer;
}

.secondary-button:disabled,.secondary-button:disabled:hover{
  border: 1px solid var(--primary-disabled);
  color:var(--primary-disabled);
}

.warning-button{
  padding: 0.5rem 2rem;

  border: 1px solid var(--primary);

  background-color: var(--secondary);
  color:var(--primary);

  font-size: 1rem;

  border-radius: 5px;
}
.warning-button:hover{
  border: 1px solid var(--danger);
  color:var(--danger);
  cursor: pointer;
}
@media screen and (max-width: 800px){
  .warning-button{
    padding: 0.5rem;
  }
}


/* Card */

.card{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem 3rem;

    border-radius: 5px;
    box-shadow: 3px 3px 10px 1px var(--shadow);
}

@media screen and (max-width: 400px) {
  .card{
    padding: 1rem 1rem;
    width: 100%;
    border-radius: 0;
  }
}