:root {
  --primary: #002147;
  --primary-2: #002147f1;
  --secondary: #FBFBFF;
  --danger: red;
  --accent: #FF9900;
  --shadow:#8f8f8f;
  --skeleton: #e6e6e6;
  --skeleton-dark: #c4c4c4;
  --green: #007e00;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

input, button, textarea, select {
  font: inherit;
  color: inherit;
}
