.table-of-contents-container {
  margin: 2rem 0 0 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 15vw;
}

.table-of-contents-link {
  text-decoration: none;
  color: var(--primary);
  padding: 0.2rem;
  border-radius: 5px;
}

.table-of-contents-link:hover {
  background-color: var(--primary-transparent);
}

.table-of-contents-link:visited {
  color: var(--primary);
}
.highlighted {
  background-color: var(--primary-transparent);
}

@media screen and (max-width: 600px) {
  .table-of-contents-container {
    display: none;
  }
}
