.search-bar-group {
  position: relative;
}

.search-bar-input {
  position: relative;
}

.search-bar {
  border-radius: 30px;
  padding: 1rem;
  width: min(420px, 95vw);

  font-size: 1.2rem;
  color: var(--primary-2);

  border: 2px solid var(--primary);
  background-color: var(--secondary);
}

.search-bar:focus {
  outline: 1px solid var(--primary-2);
  background-color: var(--secondary);
}
.search-bar::placeholder {
  color: var(--primary-2);
}

.search-icon {
  font-size: 2rem;
  color: var(--primary-2);
  position: absolute;
  right: 10px;
  transform: translateY(-50%);
  top: 50%;
}

.search-results {
  border: 1px solid var(--primary);
  border-radius: 5px;
  position: absolute;
  left: 20px;
  top: 61px;
  width: calc(100% - 40px);
  z-index: 10;
}

.search-result-link {
  text-decoration: none;
}

.search-result-article {
  background-color: var(--secondary);
  border-bottom: 1px solid var(--primary);
}
.search-result-article:hover {
  background-color: var(--primary-light);
}
.search-result-link:first-child > .search-result-article {
  border-radius: 5px 5px 0 0;
}
.search-result-link:last-child > .search-result-article {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
}

.search-result-article-h2 {
  color: var(--primary);
  font-weight: 400;
  font-size: 1.2rem;
}

.search-result-article-h2,
.search-result-article-p {
  padding: 0.2rem;
}
.search-result-article-p {
  color: var(--primary-2);
  font-size: 0.8rem;
}
