.editor-page-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  gap: 1rem;
}
.controls {
  display: flex;
  justify-content: flex-end;
}
.editor-container {
  display: flex;
  flex-wrap: wrap;
  height: calc(100vh - 233px);
}

/*  Tools  */
.markdown-tools {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  flex-basis: 100%;
  padding: 0.5rem;
  border: 1px solid var(--primary);
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  background-color: var(--secondary);
}

.markdown-tool-icon {
  font-size: 1.5rem;
  color: var(--primary);
  border: 1px solid transparent;
  border-radius: 3px;
}
.markdown-tools > button {
  display: flex;
  align-content: center;
  justify-items: center;
  border: 1px solid transparent;
  background-color: var(--secondary);
}
.markdown-tools > button:hover {
  cursor: pointer;
  border: 1px solid var(--primary);
  border-radius: 5px;
}

.markdown-tools > .markdown-tool-button {
  color: var(--primary);
  padding: 3px;
  display: none;
}

@media screen and (max-width: 900px) {
  .markdown-tools > .markdown-tool-button {
    display: block;
  }
}

.markdown-tool-separator {
  height: 1rem;
  border-left: 1px solid var(--primary);
}

.markdown-tools > .last {
  margin-left: auto;
}
.markdown-tool-icon.last.active {
  border-color: var(--primary);
}

/* Textarea */

.editor-container > textarea {
  flex-grow: 1;
  flex-basis: 50%;
  height: calc(100vh - 233px);
  resize: none;
  overflow-y: scroll;
  padding: 0.5rem;

  font-weight: 200;

  border: 1px solid var(--primary);
  border-radius: 0 0 0 5px;
}

.editor-container > textarea:focus {
  outline: none;
}

/* Markdown preview */

.editor-preview {
  flex-grow: 1;
  flex-basis: 50%;
  padding: 0.5rem;
  height: 100%;
}
.editor-container > .editor-preview {
  border: 1px solid var(--primary);
  border-left: none;
  border-radius: 0 0 5px 0;
  overflow-y: scroll;
}

/* Hide scrollbar */

.editor-container > .editor-preview::-webkit-scrollbar {
  display: none;
}
.editor-container > .editor-preview {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@media screen and (max-width: 900px) {
  .editor-container > textarea.hidden {
    display: none;
  }
  .editor-container > .editor-preview {
    border: 1px solid var(--primary);
  }

  .editor-container > .editor-preview.hidden {
    display: none;
  }
  .editor-container > textarea {
    border: 1px solid var(--primary);
  }
  .editor-container > .editor-preview::-webkit-scrollbar {
    display: block;
  }
}

@media screen and (max-width: 1300px) {
  .markdown-tools {
    border-radius: 0;
  }
}

/* Editor preview */

.editor-preview h1,
.editor-preview h2,
.editor-preview h3,
.editor-preview p,
.editor-preview li {
  color: var(--primary);
}

/* Spacing */
.editor-preview h1 {
  margin: 2rem 0 1rem 0;
}
.editor-preview h3,
.editor-preview h2 {
  margin: 1rem 0 1rem 0;
}

.editor-preview p {
  margin-bottom: 1.5rem;
}
.editor-preview pre {
  margin-bottom: 1.5rem;
}

.editor-preview li {
  margin-top: 0.5rem;
}

.editor-preview ul {
  margin-left: 1rem;
  margin-bottom: 2rem;
}

/* Typography*/

.editor-preview li {
  font-weight: 200;
}

.editor-preview p,
.editor-preview li {
  font-weight: 300;
  line-height: 1.3;
}
.editor-preview h1,
.editor-preview h3,
.editor-preview h2 {
  font-weight: 400;
}
.editor-preview p {
  overflow-wrap: break-word;
}

/* Code */
.editor-preview pre {
  margin: 2rem 0;
}
pre div {
  border-radius: 15px !important;
  background-color: var(--primary) !important;
}
pre div * {
  font-size: 1rem;
}

/* Image */
.editor-preview img {
  width: 50vw;
  height: auto;
}

/* Strong, italic */
.editor-preview strong,
.editor-preview em {
  border-radius: 5px;
  padding: 1px 2px;
  font-weight: 400;
}

.editor-preview strong,
.editor-preview em {
  background-color: var(--skeleton);
}
/* Blockquote */

.editor-preview blockquote {
  padding: 1rem 1rem 0.1rem 1rem;
  border-left: 4px solid var(--primary-disabled);
  background-color: var(--skeleton);
  border-radius: 0 5px 5px 0;
}

blockquote > p {
  font-style: italic;
}
.editor-preview blockquote > p > strong {
  font-weight: 600;
  border: none;
}

/* Table */

.editor-preview table {
  --border: 1px solid var(--primary);
  border-radius: 10px;
  width: 100%;
  margin: 1rem 0;
  overflow-x: scroll;

  /* Don't change these properties */
  border-spacing: 0;
  border-collapse: separate;
  border: var(--border);
  overflow: hidden;
}
.editor-preview th,
.editor-preview td {
  text-align: start;
  padding: 0.25rem 1rem;
  color: var(--primary);
}
.editor-preview th {
  background-color: var(--primary);
  color: var(--secondary);
}
.editor-preview th:not(:last-child),
.editor-preview td:not(:last-child) {
  border-right: var(--border);
}

/* Table */

/* Apply a border to the right of all but the last column */
/* Apply a border to the bottom of all but the last row */
.editor-preview table > thead > tr:not(:last-child) > th,
.editor-preview table > thead > tr:not(:last-child) > td,
.editor-preview table > tbody > tr:not(:last-child) > th,
.editor-preview table > tbody > tr:not(:last-child) > td,
.editor-preview table > tfoot > tr:not(:last-child) > th,
.editor-preview table > tfoot > tr:not(:last-child) > td,
.editor-preview table > tr:not(:last-child) > td,
.editor-preview table > tr:not(:last-child) > th,
.editor-preview table > thead:not(:last-child),
.editor-preview table > tbody:not(:last-child),
.editor-preview table > tfoot:not(:last-child) {
  border-bottom: var(--border);
}

/* Editor preview */

.note {
  display: flex;
}

/* Editor helper */

.link-style {
  text-decoration: underline;
  color: blue;
}
.link-style:hover {
  cursor: pointer;
}

.artilce-landing-ul {
  margin: 1.5rem 0 0 2rem;
}

.markdown-note {
  background-color: #d44242;
}

/* Custom components */
/* Custom block quotes */
[class$="quote-container"] {
  display: flex;
  margin: 1rem 0;
  border-radius: 0 5px 5px 0;
}
[class$="quote-icon-container"] {
  display: flex;
  align-items: center;
  padding: 1rem 0.2rem;
}
[class$="quote-text"] {
  padding: 0.25rem 0.5rem;
}
.info-quote-container {
  background-color: var(--info-transparent);
}
.info-quote-icon-container {
  background-color: var(--info);
}
.info-icon {
  font-size: 1.75rem;
  color: var(--secondary);
}

.warning-quote-container {
  background-color: var(--warning-transparent);
}
.warning-quote-icon-container {
  background-color: var(--warning);
}
.warning-icon {
  font-size: 1.75rem;
  color: var(--secondary);
}
.warning-block-quote-text {
  color: var(--primary);
}

/* Heading */
.custom-heading {
  display: flex;
  align-items: center;
}
.heading-anchor {
  display: flex;
  margin-left: 0.25rem;
  color: var(--primary-transparent);
}
.heading-anchor:hover {
  color: var(--primary);
}
