.article-page-container{
    display: flex;
}

.article-container {
    width: 80vw;
    margin-top: 80px;
    height: 200vh;

    padding: 2rem;
}

/* Sidebar */

.sidebar {
    width: 20vw;
    position: sticky;
    top:80px;
    height: calc(100vh - 80px);

    padding: 1rem;

    border-right: 1px solid var(--primary-2);
}