.notice-table {
  width: 100%;
  align-self: flex-start;
  margin: 1rem;
  border-collapse: collapse;
  color: var(--primary);
}

.notice-table-data {
  padding: 1rem;
  border-bottom: 1px solid var(--primary-transparent);
}
.unread {
  font-weight: 500;
  background-color: var(--primary-transparent);
}
.notice-table-row:hover {
  box-shadow: 1px 1px 3px var(--shadow);
  cursor: pointer;
}

td:nth-child(3),
th:nth-child(3) {
  width: 100%;
  text-align: left;
}
.delete-icon {
  border: none;
  color: var(--primary);
  background-color: transparent;
}
.delete-icon:hover {
  cursor: pointer;
  color: var(--danger);
}
