
/* Table */
.table-heading, .table-data{
    text-align: start;
    padding: 0.25rem 1rem;
    color: var(--primary);
}
.table-heading{
    background-color: var(--primary);
    color: var(--secondary)
}

.table {
    --border: 1px solid var(--primary);
    border-radius: 10px;
    align-self: flex-start;
    margin: 2rem auto;

    /* Don't change these properties */
    border-spacing: 0;
    border-collapse: separate;
    border: var(--border);
    overflow: hidden;
}

@media screen and (max-width: 800px){
    .table-hidden{
        display: none;
    }
}


.table-button-container{
    display: flex;
}
   
/* Apply a border to the right of all but the last column */
.table th:not(:last-child),
.table td:not(:last-child) {
    border-right: var(--border);
}
   
/* Apply a border to the bottom of all but the last row */
.table>thead>tr:not(:last-child)>th,
.table>thead>tr:not(:last-child)>td,
.table>tbody>tr:not(:last-child)>th,
.table>tbody>tr:not(:last-child)>td,
.table>tfoot>tr:not(:last-child)>th,
.table>tfoot>tr:not(:last-child)>td,
.table>tr:not(:last-child)>td,
.table>tr:not(:last-child)>th,
.table>thead:not(:last-child),
.table>tbody:not(:last-child),
.table>tfoot:not(:last-child) {
    border-bottom: var(--border);
}
  
